<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Weekly Dev Idea Voting</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/vote.css') }}">
  </head>

  <body>
    <section id="top">
      <!-- <nav>
        <a href="#">Challenges</a>
        <a href="#">Projects</a>
        <a href="#">Past Projects</a>
      </nav> -->
      <h1 id="title">Weekly Dev</h1>
      <h2>Ideas</h2>
      <img id="scroll-down" src="{{ url_for('static',filename='images/down-arrow.png') }}" alt="scroll down">
      <div id="logos">
        <a href="https://github.com/lucadem1313/weeklydevideas" target="_blank"><img src="{{ url_for('static',filename='images/Github-Mark-Light-64px.png') }}" alt="Github"></a>
        <a href="http://lucademian.com" target="_blank"><img src="{{ url_for('static',filename='images/lucalogo.png') }}" alt="Luca"></a>
      </div>
      <div id="weeknum">Week {{ week }}</div>
    </section>
    <section id="bottom">
      <form id="newidea">
        <h1>New Idea:</h1>
        <input type="text" placeholder="Title..."><br>
        <textarea placeholder="Description..."></textarea><br>
        <button type="submit">Submit</button>
      </form>
      <div id="list">
        <select id="sortby">
          <option value="newest">Newest</option>
          <option value="oldest">Oldest</option>
          <option value="top">Top</option>
        </select>
        <ul>
          {% for item in items %}
          <li class="vote-item neutral" data-id="{{ item['id'] }}">
            <div class="vote-title">{{ item['title'] }}</div>
            <div class="vote-text">{{ item['text'] }}</div>
            <div class="vote-actions">
              <div class="vote-action upvote"></div>
              <div class="vote-count">{{ item['karma'] }}</div>
              <div class="vote-action downvote"></div>
            </div>
          </li>
          {% endfor %}

          {% if numItems == 0 %}
          <div id="notfound">No Ideas Found!</div>
          {% endif %}
        </ul>
      </div>
    </section>
    <a href="#top" id="scrollup"><img src="{{ url_for('static',filename='images/down-arrow.png') }}" alt="Scroll Top"></a>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script>
      weekNum = {{ week }}
    </script>
    <script src="{{ url_for('static',filename='scripts/vote.js') }}"></script>
  </body>
</html>
